{#
/**
 * @file legislation.html.twig
 * Default theme implementation to present Legislation data.
 *
 * This template is used when viewing Legislation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_legislation()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('legislation') }}>
  <div id="legislation-sidebar" class="col-xs-pull col-md-4">
    <div class="row">
      <div class="thumbnail">
        {{ legislation.pdf_original }}
        <div class="caption">
          <a id="btn-pdf-original" href="{{ file_url(legislation.entity.getPdfOriginal()) }}" class="btn btn-invert btn-block"
             role="button">Original PDF</a>
          <a id="btn-pdf-transcribed" href="{{ file_url(legislation.entity.getPdfTranscribed()) }}" class="btn btn-invert btn-block"
             role="button">Transcribed PDF</a>
        </div>
      </div>
    </div>
  </div>
  <div id="legislation-main" class="col-xs-push col-md-8">
    <ul>
      <li>
        {{ legislation.province }}
      </li><li>
        {{ legislation.chapter }}
      </li><li>
        {{ legislation.year }}
      </li><li>
        {{ legislation.concepts }}
      </li><li>
        {{ legislation.jurisdictional_relevance }}
      </li><li>
        {{ legislation.article_count }}
      </li><li>
        {{ legislation.summary }}
      </li><li>
        {{ legislation.origin }}
      </li>
    </ul>
  </div>
</div>
